.havestPageCont
{
    margin: auto;
    padding-top: 2%;
}
.harvestForm
{
    flex: 4;
    display: grid;
    position: center;
    padding: 2%;
    margin: auto;
    max-width: 40%;
    flex-direction: column;
    border-radius: 25px;
    border-color: white;
    border-style: solid;
}

.formTitle
{

    margin: auto;
    padding-bottom: 2%;
    display: flex;
    position: center;
    flex: auto;
}

.goods,
.goodsSize,
.goodQuality
{
        /* Forms design */
    color: black;
    background-color: white;
    outline: none;
    border-style: none;
    font-size: 18px;
    margin: auto;
    padding: 10px;
    display: flex;
    position: center;
    justify-content: left;
    flex: auto;
    width: 55%;
}

.goodsLabel,
.conGoodsLabel,
.goodsSizeLabel,
.contGoodsSizeLabel,
.goodQualityLabel,
.contGoodsQualityLabel
{
        /* Labels design */
    font-size: 18px;
    margin-left: 21% ;
    padding-top: 10px;
    display: flex;
    position: initial;
    justify-content: left;
    flex: auto;
}


.conGoodsLabel,
.contGoodsSizeLabel,
.contGoodsQualityLabel
{
    color: #9a4ef1;
}


.submitButton
{
    color: white;
    background-color: #4e9af1;
    margin: 15px auto;
    border-style: none;
    border-radius: 20px;
    max-width: 50%;
    height: 10%;
    font-size: 25px;
    flex: auto;
    text-align:center;
}

.submitButton:hover
{
    color: black;
    background-color:#9a4ef1;
}


/* Footer Section style  */

.paragraphs
{
    margin: auto;
}

.footerHrContainer
{
    color: white;
    alignment: center;
    margin: auto;
}

.footerContainerApp
{
    float: bottom;
    margin: auto;
    padding-top: 8%;
    display: block;
}
