.leftBar
{
    flex: 4;
    display: inline-flex;
    margin-left: 5.5%;
    height: 15%;
    width: 60%;
    padding-left: 2%;

}
.headerTitle
{

    margin: auto;
    font-size:20px;


}

.headerPicture
{
    width: 70PX;
    height: 70PX;
    background: url("certificate1.png") no-repeat content-box;
    position: relative;
    flex: auto;
    margin:auto;
    display: block;
}

.rightBar
{
    flex: 4;
    display: inline-flex;
    width: 25%;
    margin: auto;

}

.headerHrContainer
{
    color: white;
    width: 85%;
    alignment: center;
    margin: auto;
}

.rightBar,
.leftBar
{
    justify-content: space-evenly;
}

.headerContainer
{
    padding-bottom: 1%;
}